<!-- File Name : about.ejs
    Student Name : Tatsat Tendulkar
    Student Id   : 301166880
    


<%- include partials/header.ejs %>
 
 
<%- include partials/main_nav.ejs  %>

  
  <!--Main Content--> 

  <main class="container">
    <div class="jumbotron jumbotron-fluid">
      <h1 class="display-7">Welcome to the <%= title %> page</h1>  
    </div>
    <section class="about-section section">
        <div class="container">
            <div class="row">
                <div class="section-title">
                <h2 data-heading="main information">About Me</h2>
            </div>
        </div>
        <div class="row">
            <div class="about-img">
                <div class="img-shape inner shadow">
                    <img src="image/IMG1.jpg" class="outer-shadow" alt="profile-pic" width="350" height="350">
                </div>
            </div>
            <div class="about-info">
                <p><span>Hello, My name is Tatsat Tendulkar.</span>
                I am a resident of Ahmedabad, India. I have
                done my bachelor's in Endineering in Information 
                Communication Technology in 2019. After my 
                graduation i went to learn Game Development
                and have now enrolled at Centennial in the Game Programming course.</p>
                <p> I am looking forward to the classes and hope to learn new subjects.</p>
                <p>I wish to join the Gaming industry as a Game Programmer.</p>
                <a href="image/Tatsat Tendulkar.pdf"  class="btn-1 outer shadow hover-in-shadow" view>Download Resume</a>
            
            </div>
        </div>
    </section>
    </main>

        
    






<!--For background section start-->
<html>
<head>
<style>

body {
  background-image: url("image/IMG2.jpg");
}


</style>
</head>
</html>
 
<%- include partials/bottom_nav.ejs %>

 <%- include partials/footer.ejs %>
