<!-- File Name : index.ejs
    Student Name : Tatsat Tendulkar
    Student Id   : 301166880
<%- include partials/header.ejs %>
 
 
<%- include partials/main_nav.ejs  %>

  
  <!--Main Content--> 


  <main class="container">
    <div class="jumbotron jumbotron-fluid">

      <h1 class="display-7">Welcome to the <%= title %> page</h1>  
    </div>
    <section class ="home" id ="home">
    
    <div class ="max.width">
      <div class="home-content">
        <div class="text-1">WELCOME</div>
        <div class="text-2">I am</div>
        <div class="text-3">Tatsat Tendulkar</div>
        <br><div class="mission"><i class="fas fa-angle-double-right"></i>Statement: The main purpose for creating my e-portfolio is to enhance my skills and gain knowledge in Web Development.</div>
      </div>
        <br><a href="/about" class="btn-1 outer-shadow hover-in shadow">More About Me</a>

    </div>
          <div class="home_img">
            <img src="image/website.gif" alt="" width="320" height="300">
          </div>
    





    </section>
      
    
      
      
     
    
        
        
      
     
  
  
               
  </main>
  
<!--home section start-->
<html>
<head>
<style>
body {
  background-image: url("image/bg.jpg");
}

</style>
</head>
</html>

                

                

    </div>
  </div>
</section>


 
<%- include partials/bottom_nav.ejs %>

 <%- include partials/footer.ejs %>