<!-- File Name   : service.ejs
    Student Name : tatsat Tendulkar
    Student Id   : 301166880


<%- include partials/header.ejs %>
 
 
<%- include partials/main_nav.ejs  %>

  
<!--Main Content--> 

  <main class="container">
    <div class="jumbotron jumbotron-fluid">
      <h1 class="display-7">Welcome to the <%= title %> page</h1>  
    </div>
    <div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card p-3">
                <div class="d-flex flex-row mb-3"><img src="image/IMG6.jpg" width="110">
                    <div class="d-flex flex-column ml-2"><span>Game Programming</span><span class="text-black-50">Create scripts for 2D and 3D games</span></div>
                </div>
                <h6>Create scripts to link animations, textures and models in a simulated environment.</h6>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-3">
                <div class="d-flex flex-row mb-3"><img src="image/Img7.jpg" width="150">
                    <div class="d-flex flex-column ml-2"><span>3D Modelling</span><span class="text-black-50">creating 2D and 3D models</span></div>
                </div>
                <h6>Create 2D and 3D high poly and low poly models according to requirements and also do the rigging and animation.</h6>
            </div>
        </div>
        </div>
    </div>
</div>
    
    </section>
   
    </main>







<!--For background section start-->
<html>
<head>
<style>
body {
  background-image: url("image/IMG3.jpeg");
  background-color: #cccccc;
}

</style>
</head>
</html>
 
<%- include partials/bottom_nav.ejs %>

 <%- include partials/footer.ejs %>